@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul{
  list-style: none;
}
a{
  color: #000;
  text-decoration: none;
  display: block;
}
input:focus-visible{
  outline: none;
}
input{
  border-style: ridge;
}

.center-element{
  margin: 60px 0 0 250px;
}